.background {
  background-color: black;
  display: grid;
}

h1 {
  color: azure;
  justify-self: center;
}

.preview-movie {
  width: max-content;
}

.movies-preview-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
